<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="io.github.bonigarcia.wdm" level="ERROR"/>
    <logger name="org.openqa.selenium.devtools" level="ERROR"/>
    <logger name="org.openqa.selenium.chromium" level="ERROR"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
